.form-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 0;
    gap: 16px;
    min-height:120vh
}
section {
    height: auto;
    background-color: #ffffffd5;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: #3a3a3a;
}
.content-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    padding: 20px;
}

.content-education {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 20px;
    padding-bottom: 40px;
    flex-wrap: wrap;
}

.text {
    max-width: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.illustration {
    max-width: 400px;
    display: flex;
    justify-content: center;
}
.step {
    border: 1px dashed #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 300px;
    height: 450px;
    margin-bottom: 20px; 
  }
  .step-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .step-number {
    background-color: #3a3a3a;
    color: white;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
  }
  .step-check {
    font-size: 18px;
    color: green;
    visibility: hidden; 
  }
  .completed .step-check {
    visibility: visible;
  }
  .access-existing {
    margin:20px;
    border: 1px dashed #dad7d8; 
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }
  
  .access-form {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-top: 10px;
  }
  
  mat-chip {
    background-color: #ff4081;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
  }
  
  .fixed-footer button {
    margin: 0 5px;
  }
  button{
    font-family: "Montserrat", sans-serif;

  }