<div class="school-cards-container">
    <div *ngFor="let escola of escolas, let i = index" class="school-card">
      <div class="school-card-image">
        <img [src]=" escola.imagem_url" alt="{{ escola.nome }}">
        <span class="status-label">
            <app-chip [text]="statusChips[i].text" [color]="statusChips[i].color"></app-chip>
          </span>
      </div>
      <div class="school-card-content">
        <div class="school-card-category">Escola</div>
        <div class="school-card-title">{{ escola.nome }}</div>
        <div class="school-card-location">{{ escola.bairro }}, {{ escola.cidade }} - {{ escola.estado }}</div>
        <div class="school-card-fee">Mensalidade: R$ {{ escola.mensalidade }}</div>
        <div class="school-card-rating">
          <span>{{ escola.avaliacao || 'Sem Avaliação' }}</span> 
        </div>
        <button class="contact-button" (click)="openInfoEscola(escola)">Entrar em Contato</button>
      </div>
    </div>
  </div>
  