<header class="header-outer">
    <div class="header-inner responsive-wrapper">
      <div class="header-logo">
        <img src="../../../assets/img/school-logo.svg" />
      </div>
      <nav class="header-navigation">
        <a href="#" *ngIf="menuOpen || isDesktop">Home</a>
        <a href="#" *ngIf="menuOpen || isDesktop">About</a>
        <a href="cadastro-escola" *ngIf="menuOpen || isDesktop">Cadastro Escola </a>
        <a href="cadastro-responsaveis" *ngIf="menuOpen || isDesktop">Cadastro Responsáveis</a>
        <button (click)="toggleMenu()">Menu</button>
      </nav>
    </div>
  </header>
  